* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-color: #ddd;
}

.container-fluid {
    width: 1200px;
    height: 100vh;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: wheat;
}

.container {
    width: 100%;
    text-align: center;
    background-color: teal;
    color: #ddd;
    padding: 30px 0;
}

#pwd {
    font-size: 30px;
}

h1, div:not(#pwd) {
    margin-bottom: 30px;
}
